body{
    font-family: 'Montserrat', sans-serif !important;
}

.row{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}

.fs-0{
    font-size: 46px;
}

.le-10{
    letter-spacing: 5px;
}

.mt-6{margin-top: 6rem;}
.mb-6{margin-bottom: 6rem;}
.my-6{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.fondo-oscuro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.fondo-oscuro-animated{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: 0.2s;
}

.fondo-oscuro-animated:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.nav-link:hover, .navlink:focus{
    color: rgba(0, 62, 111, 1);
}

.nav-link {
    text-transform: uppercase !important;
    font-size: 12px !important;
    color: rgba(0, 62, 111, 0.9);
}

#footer_menu .nav-link{
    color: white !important;
}

label{
    font-size: 16px;
    font-weight: 300;
    color: var(--blue);
}

.responsive-img{
    height:450px; 
    object-fit:cover;
}


@media (max-width: 992px) {
    .fs-0{
        font-size: 1.5rem;
    }
    
    .mt-6{margin-top: 4.5rem;}
    .mb-6{margin-bottom: 4.5rem;}
    .my-6{
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
    }

    .responsive-img{
        height:300px; 
        object-fit:cover;
    }
   
}